<html>
    <title>High Forum </title>
    
<body>
    
<header>
   <img src="https://vectr.com/tzayedun/aeO2WWiC8.svg?width=202.18&height=150.43&select=gtOpZSIhc,d5Jk1feIda,g4aNOQbR1b,f2PKoy8Z9d,i5WOtHlO1d&source=selection" id="logo">
<nav>
    

</nav>
</header>

<div class="maintopics">
   
    <h1>
        Your School's Topics!!
    </h1>
    
    <div class="topics">
    <p>
        
    </p>
    </div>
    
</div>


</body>
</html>